*{ margin:0; padding:0;list-style: none;}
body {
	font-family: Calibri;
	font-size: 16px;
}
.body{
	width: 100%;
}
.logo{
	width:230px;
	margin:10px auto;
}
#outer {
	width:100%;
}
#tab {
	overflow:hidden;
	margin:0 auto;
	max-width:485px;
}

#tab li {
	float:left;
	color:#616668;
	height:30px;
	cursor:pointer;
	line-height:30px;
	padding:0 20px;
	overflow: hidden;
	text-align: center;
	font-size: 16px;
	
}
#tab li.current {
	color:#43a047;
	border-bottom: 2px solid #43a047;
}
#content {
	border-top-width:0;
}
#content div {
	line-height:25px;
	display:none;
	margin:0 250px;
	padding:50px 0;
}
.span1{
	font-size: 21px;
	color: #14A73C;
}
.span2{
	font-size: 19px;
}
.span3{
	font-size: 16px;
	font-weight: bold;	
}
.span4{
	font-size: 19px;
	font-weight: bold;	
}
@media screen and (max-width: 760px) {
#content ul {
	line-height:25px;
	display:none;
	margin:0 50px;
	padding:50px 0;
}
}