*{ margin:0; padding:0;list-style: none;}
body {
	font-family: Calibri;
	font-size: 16px;
	background-color: #f5f5f5;
}
.body{
	border-radius: 5px;
	background-color: #FFFFFF;
	width: 616px;
	margin:79px auto;
	border: 1px solid #ECEAE9;
}
.header{
	width: 100%;
}
.logo{
	width:230px;
	margin:0 auto;
	padding:75px 0 20px 0;
}
.content{

}
.content_cyp{
	height: 23px;
	width: 250px;
	margin: 0 auto;
}
.content_p{
	text-align: center;
	line-height: 40px;
}
.content_form{
	margin: 0 auto;
	border-radius: 5px;
	height: 101px;
	width: 350px;
	border: 1px solid #ECEAE9;
}
.content_form_label{
	display: block;
	width: 350px;
	height: 50px;
	position: relative;
	border-bottom: 1px solid #ECEAE9;
}
.content_form_span{
	position: absolute;
	line-height: 50px;
	color: #BCBCBC;
	cursor: text;
	font-size: 17px;
	left: 0;
	padding:0 20px;
}
.content_form_input{
	height: 50px;
	width: 310px;
	font-size: 20px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	border-radius: 5px;
	padding:0 20px;
}
.content_submit{
	padding:20px 0 90px;
	margin: 0 auto;
	width: 350px;
}
.content_form_input1{
	height: 50px;
	width: 350px;
	font-size: 15px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	border-radius: 5px;
	color: #FFFFFF;
	background-color: #00A04B;
	cursor: pointer;
}
.content_cyp1{
	font-size: 25px;
	line-height: 22px;
	color: #00A04B;
	text-align: center;
	padding: 0 0 75px 0;
}